/* src/pages/AboutUs.css */

.about-us {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .section-heading {
    font-size: 2.5rem;
    color: #4b0082; /* Purple color */
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .about-description {
    font-size: 1.25rem;
    color: #333; /* Black */
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
/* src/pages/AboutUs.css */

.about-us {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .section-heading {
    font-size: 2.5rem;
    color: #4b0082; /* Purple color */
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .about-description {
    font-size: 1.25rem;
    color: #333; /* Black */
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  